body 
{ 
    font-family: Segoe UI, sans-serif; 
    margin-left:auto; 
    margin-right: auto;
    width:700px; 
}
h1,h2,h3,h4,h5,h6 
{ 
    font-family: Segoe UI Light, Segoe WP Light, Segoe UI, Helvetica, sans-serif; 
    font-weight: lighter; 
    margin-bottom:0px; 
}
h1 
{ 
    font-size: 4em;
}
h2 
{ 
    font-size: 2.5em;
}
a, a:visited 
{ 
    text-decoration: none; 
    color:#13678b;
}
a:hover 
{
    color:white; 
    background: #13678b
}
ul 
{
    margin:0; 
    padding:0;
}
li 
{ 
    margin:0; 
    padding:0; 
    list-style-type:none;
}
.entry ul, .idea ul 
{
    margin-left:10px; 
}
.entry li, .idea li 
{
    margin-left:10px; 
    list-style-type:circle;
}
#hometext a { font-size: 2em; margin-left: 5px; margin-right:10px; display: none; color: #41B1E1; font-weight: normal;  }
#home:hover 
{ 
    background:none; 
}
#side 
{ 
    float:right; 
    color: #41b1e1; 
    margin-left:50px; 
}
#side .section 
{ 
    margin-top:50px;
    margin-bottom: 50px; 
    padding:0;
}
#side .section ul 
{ 
    font-size:2em;
}
#content 
{
    width:auto;
}
img
{
  width: auto !important; 
  height: auto !important; 
  max-width: 100%; 
  border: none;
}
.postdate 
{ 
    font-size: 0.8em; 
    font-weight: bold; 
}
.idea h1, .entry h1 
{
    margin-bottom: 5px;
}

/* min-device-width: 800px instead? */
@media screen and (max-width:500px)
{
    body { width:auto; margin:10px; }
    #content { width : 100%; }
    #side { float:none; width:100%; margin-left:0px; }
    #side .section { margin-top:0; margin-right: 30px; }
    #side .section ul { font-size:1.2em; padding:0px; margin:5px; }
    #side li { display: inline; margin-left:3px; margin-right: 3px; font-weight: normal; }
    #home { display: none;  }
    #hometext a { display: inline;  }
    h1 { margin-top: -0px;}
}