<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="win81" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="win81" />
  <package id="Microsoft.Net.Http" version="2.2.22" targetFramework="win81" />
  <package id="xunit" version="2.0.0-beta-build2650" targetFramework="win81" />
  <package id="xunit.abstractions" version="2.0.0-beta-build2650" targetFramework="win81" />
  <package id="xunit.assert" version="2.0.0-beta-build2650" targetFramework="win81" />
  <package id="xunit.core" version="2.0.0-beta-build2650" targetFramework="win81" />
</packages>