<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="portable-net45+sl50+win+wpa81+wp80+MonoAndroid10+MonoTouch10" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="portable-net45+sl50+win+wpa81+wp80+MonoAndroid10+MonoTouch10" />
  <package id="Microsoft.Net.Http" version="2.2.28" targetFramework="portable-net45+sl50+win+wpa81+wp80+MonoAndroid10+MonoTouch10" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="portable-net45+sl50+win+wp80" />
</packages>