<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.0.19" targetFramework="portable-win+net45+sl50+wp80" />
  <package id="Microsoft.Bcl.Build" version="1.0.5" targetFramework="portable-win+net45+sl50+wp80" />
  <package id="Microsoft.Net.Http" version="2.1.10" targetFramework="portable-win+net45+sl50+wp80" />
  <package id="Newtonsoft.Json" version="5.0.6" targetFramework="portable-win+net45+sl50+wp80" />
</packages>