<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="keepAlive" value="{0}" />
        <add key="connectionTimeout" value="{1}" />
        <add key="disconnectTimeout" value="{2}" />
        <add key="heartbeatInterval" value="{3}" />
        <add key="enableRejoiningGroups" value="{4}" />
    </appSettings>
    <system.web>
        <compilation debug="true" targetFramework="4.5" />
        <httpRuntime targetFramework="4.5" />
    </system.web>
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true" />
      <defaultDocument>
        <files>
          <clear />
          <add value="default.html" />
        </files>
      </defaultDocument>
    </system.webServer>
</configuration>