<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="azureTestManager">
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="Content/Site.css" />
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="Scripts/jquery.signalR.js"></script>
    <script src="signalr/js"></script>
    <script src="~signalr/hubs"></script>
    <script src="js/model.js"></script>
    <script src="js/controller.js"></script>
</head>
<body ng-controller="TestManagerController">

    <div class="container-fluid">
        <accordion close-others="false">
            <accordion-group heading="Configuration">
                <table>
                    <tr ng-repeat="argument in arguments">
                        <td>{{argument.displayName}}:</td>
                        <td><input type="text" id="{{argument.displayName}}" ng-model="argument.value" /></td>
                        <!--<td>{{argument.argumentString()}}</td>-->
                    </tr>
                </table>
            </accordion-group>
            <accordion-group heading="LoadTestHarness" ng- ng-click="loadTarget()">
                <iframe width="600" height="340" id="targetPage"></iframe>
                <br />
                <button class="btn btn-default btn-sm" ng-click="loadTarget()">Reload</button>
            </accordion-group>
            <accordion-group heading="Worker Hosts ({{connectionManager.connections.length}})">
                <fieldset>
                    <div ng-repeat="connection in connectionManager.connections">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                {{connection.worker.address}}
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-2">
                                        {{connection.worker.status}}
                                    </div>
                                    <div class="col-sm-10">
                                        <div class="row" ng-repeat="process in connection.processes | filter:{state:'!Terminated'}">
                                            <button class="btn btn-default btn-sm" ng-click="stopProcess(connection.connectionId, process.processId)">
                                                <span class=" glyphicon glyphicon-stop">
                                            </button>
                                            {{process.state}}

                                            {{process.lastOutput}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--<tabset>
                        <tab heading="{{connection.worker.address}}">-->
                        <!--</tab>
                        </tabset>-->

                    </div>


                    <!--<table>
                        <tr>
                            <td><input type="checkbox" ng-model="connectionManager.allSelected" /></td>
                            <td>ID</td>
                            <td>Host</td>
                            <td>Status</td>
                            <td>Last Update</td>
                            <td>Instances</td>
                        </tr>
                        <tr ng-repeat="connection in connectionManager.connections">
                            <td><input type="checkbox" name="selectHost" ng-model="connection.selected" /></td>
                            <td>{{connection.connectionId}}</td>
                            <td>{{connection.worker.address}}</td>
                            <td>{{connection.worker.status}}</td>
                            <td>{{connection.worker.lastUpdate}}</td>
                            <td>
                                <table>
                                    <tr ng-repeat="process in connection.processes">
                                        <td>{{process.processId}}</td>
                                        <td>{{process.state}}</td>
                                        <td>{{process.lastUpdate}}</td>
                                        <td>{{process.lastError}}</td>
                                        <td>{{process.lastOutput}}</td>
                                        <td><input type="button" value="Stop" ng-click="stopProcess(connection.connectionId, process.processId)" /></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="button" value="Start" ng-click="startProcesses()" /></td>
                            <td><input ng-model="instances" /></td>
                            <td>instances</td>
                            <td colspan="3"></td>
                        </tr>
                    </table>-->


                </fieldset>
                <input type="button" class="btn btn-default" value="Stop All" ng-click="stopAllProcesses()" />

                <input type="button" value="Start" ng-click="startProcesses()" />
                <input ng-model="configuration.instances" />
                <label>{{configuration.instances}}</label>

            </accordion-group>
        </accordion>
    </div>
    <input ng-model="configuration.instances" />
    <label>{{configuration.instances}}</label>
</body>
</html>
