<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="SignalR:HttpPeers" value="http://signalr1.local/,http://signalr2.local/,http://signalr3.local/" />
  </appSettings>
  <connectionStrings>
    <add name="SignalR"
         providerName="System.Data.SqlClient"
         connectionString="data source=.;Initial Catalog=SignalR;Integrated Security=SSPI;Asynchronous Processing=true;" />
  </connectionStrings>
  <system.web>
    <trace enabled="true" localOnly="false" requestLimit="100" />
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime requestValidationMode="2.0" />
  </system.web>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.4.0"/>
      <add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
    </DbProviderFactories>
  </system.data>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>