<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="keepAlive" value="-1"/>
    <add key="connectionTimeout" value="110"/>
    <add key="disconnectTimeout" value="30"/>
    <add key="enableRejoiningGroups" value="False"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="default.html"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>