body {
    font-family: Trebuchet MS;
    font-size: 13px;
}

.icon {
    background-repeat: no-repeat;
    background-position: 0 50%;
    padding-left: 20px;
    line-height: 20px;
}

.icon-wand {
    background-image: url('images/wand.png');
}

.page-header {
    min-height: 500px;
}
