<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.Cors" version="5.0.0-rc1-130810" targetFramework="net45" />
  <package id="Microsoft.Owin" version="2.0.0-rtw1-20810-540-dev" targetFramework="net45" />
  <package id="Microsoft.Owin.Cors" version="2.0.0-rtw1-20810-540-dev" targetFramework="net45" />
  <package id="Microsoft.Owin.Hosting" version="2.0.0-rtw1-20810-540-dev" targetFramework="net45" />
  <package id="Microsoft.Owin.Security.Basic" version="0.24.0-pre-20725-492-dev" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="5.0.6" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="Owin.Extensions" version="0.6.4" targetFramework="net45" />
  <package id="xunit" version="1.9.1" targetFramework="net45" />
  <package id="xunit.extensions" version="1.9.1" targetFramework="net45" />
</packages>