<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="windbgPath" value="" />
    </appSettings>
    <system.diagnostics>
        <sources>
            <source name="System.Net.Sockets">
                <listeners>
                    <add name="System.Net"/>
                </listeners>
            </source>
            <source name="System.Net.WebSockets">
                <listeners>
                    <add name="System.Net"/>
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="System.Net.Sockets" value="Information"/>
            <add name="System.Net.WebSockets" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="System.Net" type="System.Diagnostics.TextWriterTraceListener" initializeData="..\client.log"/>
        </sharedListeners>
        <trace autoflush="true"/>
    </system.diagnostics>
</configuration>