<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="windbgPath" value="" />
        <add key="httpSysLoggingEnabled" value="false" />
    </appSettings>
    <system.diagnostics>
        <sources>
            <source name="System.Net.Sockets">
            </source>
            <source name="System.Net.WebSockets">
            </source>
            <source name="System.Net">
            </source>
            <source name="System.Net.Http">
            </source>
        </sources>
        <switches>
            <add name="System.Net.Sockets" value="Verbose"/>
            <add name="System.Net.WebSockets" value="Verbose"/>
            <add name="System.Net" value="Verbose"/>
            <add name="System.Net.Http" value="Verbose"/>
        </switches>
        <trace autoflush="true"/>
    </system.diagnostics>
</configuration>