<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Owin" version="1.1.0-beta1-20514-307" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.HttpListener" version="1.1.0-beta1-20514-307" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="1.1.0-beta1-20514-307" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Moq" version="4.0.10827" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="5.0.5" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="xunit" version="1.9.1" targetFramework="net45" />
  <package id="xunit.extensions" version="1.9.1" targetFramework="net45" />
</packages>