<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.Owin" version="0.7" targetFramework="net40" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="Owin.Startup" version="0.4" targetFramework="net40" />
</packages>