<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="keepAlive" value="{0}" />
        <add key="connectionTimeout" value="{1}" />
        <add key="disconnectTimeout" value="{2}" />
        <add key="transportConnectTimeout" value="{3}" />
        <add key="maxIncomingWebSocketMessageSize" value="{4}" />
        <add key="enableRejoiningGroups" value="{5}" />
        <add key="logFileName" value="{6}" />
        <add key="attachToPreSendRequestHeaders" value="{7}"/>
    </appSettings>
    <system.web>
        <compilation debug="true" targetFramework="4.5" />
        <httpRuntime targetFramework="4.5" />
    </system.web>
    <system.webServer>
      <defaultDocument>
        <files>
          <clear />
          <add value="default.html" />
        </files>
      </defaultDocument>
    </system.webServer>
    <system.diagnostics>
        <sources>
            <source name="SignalR.Transports.WebSocketTransport">
                <listeners>
                    <add name="SignalR" />
                </listeners>
            </source>
            <source name="SignalR.Transports.ServerSentEventsTransport">
                <listeners>
                    <add name="SignalR" />
                </listeners>
            </source>
            <source name="SignalR.Transports.ForeverFrameTransport">
                <listeners>
                    <add name="SignalR" />
                </listeners>
            </source>
            <source name="SignalR.Transports.LongPollingTransport">
                <listeners>
                    <add name="SignalR" />
                </listeners>
            </source>
            <source name="SignalR.Transports.TransportHeartBeat">
                <listeners>
                    <add name="SignalR" />
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="SignalRSwitch" value="Verbose" />
        </switches>
        <sharedListeners>
            <add name="SignalR"
                 type="System.Diagnostics.TextWriterTraceListener"
                 initializeData="{5}.transports.log" />
        </sharedListeners>
        <trace autoflush="true" />
    </system.diagnostics>
</configuration>