<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Owin" version="2.0.1-rtw1-20912-624-dev" targetFramework="net45" />
  <package id="Microsoft.Owin.Security" version="2.0.1-rtw1-20912-624-dev" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="Owin.Builder" version="0.8.5" targetFramework="net45" />
</packages>