<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <appSettings>
    <!-- These keys are modified on build via the .csproj -->
    <add key="JSResourceFolder" value="resources"/>
    <add key="JSCoreProject" value="SignalR.Client.JS"/>
    <add key="TempFolder" value="temp"/>
    <add key="QUnitTestsFolder" value="Tests"/>
  </appSettings>

</configuration>
