<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Gate" version="0.2.0" />
  <package id="Gate.Builder" version="0.2.0" />
  <package id="Gate.Hosts.Kayak" version="0.2.0" />
  <package id="Gate.Middleware" version="0.2.0" />
  <package id="Gate.Owin" version="0.2.0" />
  <package id="Kayak" version="0.7.2" />
</packages>